<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Калькулятор</title>
</head>
<body>
<h1>Калькулятор</h1>
<form method="post">
    <label for="number1">Выражение:</label>
    <input type="text" id="number1" name="number1"><br>

    <input type="submit" value="Посчитать">
</form>

<div>
    <h2>Результат:</h2>
    <p th:text="${result}" />
</div>

<div>
    <h2>Возможности:</h2>
    <p> "может считать большие выражения с сложением и вычитанием Пример: 2.15 - 3.4223 + 4.01 + 5.03 + 2.7" </p>
    <p> "может считать большие выражения с Умножением и делением Пример: 7.4545 - 2.1588 / 2.5648" </p>
    <p> "может считать используя скобки Пример: (7.4545 - 2.1588) / (2.5648 - 4) + 5.2" </p>
    <p> "может извлекать корень Пример: (5-√225) + 10 + √16" </p>
    <p> "может возводить в степень Пример: (7+2)^2" </p>
    <p> "НЕ может возводить в степень и извлекать корень одновременно Пример: √(7+2)^2" </p>
    <p> "НЕ может извлекать корень в корне одновременно Пример: √(8√(128+128))" </p>
</div>
</body>
</html>